<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>{{filename}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>


</head>
<body>
<div class="container">
<a id="downloadlink" download="{{filename}}" href="">
 <button type="button" class="btn btn-primary">Download</button>
</a>
<pre id="dat">
<embed id="emb" src="">
</pre>
 <script>
    var ARC4 = function(key){
    var s = new Array(256);
    var s2 = new Array(256);

    for (var i = 0; i < 256; i++){
        s[i] = i;
        s2[i] = key.charCodeAt(i % key.length);
    }

    var j = 0;
    for(var i = 0; i < 256; i++){
        j = (j + s[i] + s2[i]) & 0xff;
        var t = s[i];
        s[i] = s[j];
        s[j] = t;
    }

    this.s = s;
}

ARC4.prototype.encrypt = function(message){
    var i = 0;
    var j = 0;
    var encrypted = [];
    var temp = this.s.slice();

    for(var k = 0; k < message.length; k++){
        var charCode = 0;
        i = (i + 1) & 0xff ;
        j = (j + temp[i]) & 0xff;
        var x = temp[i];
        temp[i] = temp[j];
        temp[j] = x;

        if(message.constructor === Array){
            charCode = message[k];
        } else if (message.constructor === String){
            charCode = message.charCodeAt(k);
        }
        encrypted[k] = (charCode ^ temp[(temp[i] + temp[j]) & 0xff]);
    }
    return encrypted;
}

ARC4.prototype.decrypt = function(message){
    return this.encrypt(message);
}

String.prototype.toBuffer = function(string){
    var buff = [];
    for (var i=0; i < this.length; i++) {
        buff[i] = this.charCodeAt(i);
    }
    return buff;
}

Array.prototype.toString = function(){
    var string = '';
    for (var i=0; i < this.length; i++) {
        string += String.fromCharCode(this[i]);
    }
    return string;
}

Array.prototype.isEqualTo = function(array){
    if(this.length !== array.length){
        return false
    }

    for(var i = 0; i < this.length; i++){
        if(this[i] !== array[i]){
            return false;
        }
    }

    return true;
}
</script>
<script type="text/javascript">
function htmlDecode(input) {
  var doc = new DOMParser().parseFromString(input, "text/html");
  return doc.documentElement.textContent;
}
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
var key1=getCookie("key1");
var key2=getCookie("key2");
var schema=getCookie("schema");
if(schema == "ARC4")
{
    var cipher = new ARC4(key1);
    var decrypted = cipher.decrypt({{text}});
    console.log(decrypted)
    var emb=document.getElementById("emb");
    emb.src="data:text/plain;base64,"+btoa(decrypted);
    var downloadlink=document.getElementById("downloadlink");
   downloadlink.href="data:application/octet-stream;charset=utf-8;base64,"+btoa(decrypted);

}
else if(schema == 'AES')
{
    key1 = aesjs.utils.utf8.toBytes(key1);
    key2 = aesjs.utils.utf8.toBytes(key2);
    var aesCbc = new aesjs.ModeOfOperation.cbc(key1, key2);
    var decryptedUintarray = aesCbc.decrypt({{text}});
    var decryptedBytes=Array.from(decryptedUintarray);
    var emb=document.getElementById("emb");
    emb.src="data:text/plain;base64,"+btoa(decryptedBytes);
    var downloadlink=document.getElementById("downloadlink");
    downloadlink.href="data:application/octet-stream;charset=utf-8;base64,"+btoa(decryptedBytes);

}</script>
</div>

</body>

</html>