{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<head>
  <title>011bytes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

<body style="
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-image: url('paper.gif');
    background-color: #cccccc;">
  <h1 style="color:red;"> Welcome {{ user.username }}!</h1>
  <div style="margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 40px;">
  <button type="submit" class="btn btn-primary btn-lg" style="margin-right: 24px"onclick="location.href='{% url 'logout' %}'" >Logout</button>
  <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='{% url 'keyVerify' %}'" >Encyption key page</button>
</div>
</body>
  {% else %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script>
.button {
    background-color: #4CAF20; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</script>
  <body style="
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-image: url('paper.gif');
    background-color: #cccccc;">
    <h1 style="color:blue;">Welcome to homepage of 011bytes cloud-storage</h1>
    <div style="
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 50px;">
    <input type="button" value="Login" class="button" style="background-color: #4CAF20; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px; margin-right: 64px" onclick="location.href='{% url 'login' %}'" />
    <input type="button" value="Signup" style="background-color: #4CAF20; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;" onclick="location.href='{% url 'signup' %}'" />
</div>
  </body>
      {% endif %}
      {% endblock %}
 
